.container{
    margin: auto;
    text-align: center;
    font-size: 10px;
    color:cyan;
    border: solid;
    border-radius: 10px;
    box-shadow: 10px 10px 1050px;
    max-width: 200px;
    padding: 20px;
    
}
body{
    background-color: black;
}
input{
    max-width: 100px;
}
